.home {
  background-image: url("./background.jpg");
  position: fixed;
  width: 100%;
  height: calc(100vh - 56px); 
  /* guilgehed bugdiig ni haruulna */
  background-size: cover;
  background-position: right;
  overflow: auto;
}
.searchBar {
  border-radius: 7px;
  
} 
.homeTitle {
  color: rgb(209, 212, 228);
  text-shadow: black;
}
